body{
    background-color: antiquewhite;
    text-align: center;
}

#level-title1{
    font-family: 'Press Start 2P',cursive;

    margin: 25px;
    font-size: 30px;
}
#level-title2 {
    font-family: 'Press Start 2P', cursive;

    margin: 25px;
    font-size: 30px;
}

footer {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin: 15%;
  
    
}

.btn{
    margin: 10px;
        display: inline-block;
        height: 100px;
        width: 100px;
        border: 10px solid black;
        border-radius: 20%;
        
        
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}
